@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?wfb79s');
  src:url('fonts/icomoon.eot?wfb79s#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?wfb79s') format('truetype'),
  url('fonts/icomoon.woff?wfb79s') format('woff'),
  url('fonts/icomoon.svg?wfb79s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

footer{
  text-align: center;
  font-size: 8px;
  color: gray;
  opacity: 20%;
  padding-top: 8%;
  padding-bottom: 2%;
}

@media screen and (max-width: 700px){
  *{
    font-family: sans-serif;
  }
  h2{
    margin-left: 5%;
  }
  ul{
    margin-left: 6%;
  }
  li{
    margin-left: 5%;
  }
  header{
  display: inline;
  }
  nav{
  float: right;
  }
  .projects img{
    width: 170%;
    %;
    border: 4px solid gray;
    margin-left: 10%;
    margin-right: 10%;
  }
  .projects{
    width: 50%;
  }
  .main-nav {
    padding: 0.1em;
    width: 100%;
    text-align: center;
  }
  .icon-menu:before {
	content: "\2261";
  float: right;
  width: 5%;
  height: 5%;
  }
  .main-nav ul {
    display: none;
    list-style: none;
    clear: both;
  }

  .template{
    display: none;
  }
  .main-nav li{
    padding: 0.5em;
    margin: 3%;
    text-align: center;
    border: 4px solid gray;
    background-color: black;
  }
  a{
    text-decoration-color: gray;
    color: gray;
    text-shadow: none;
  }
  .main-nav:hover ul {
    display: inline-block;
    width: 100;
  }
  img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  img .project-pics{
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
  div{
    clear: both;
  }
  header{
    text-align: center;
    padding: 0;
    width: 100%;
  }
  h1{
    padding: 5%;
    float: left;
  }
  li{
    font-size: 12px;
    /*display: inline;*/
    text-decoration: none;
  }
  p{
    margin-left: 5%;
  }

  .project-pics, .info, .skills{
    /*border: 2px solid black;*/
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 75%;
    text-align: left;
  }
  .description, .contributors, .link, .date, .title{
    margin-left: 10%;
  }
.projects{
  width: 50%;
  margin: 0%;
}

}

/* browser view */
@media screen and (min-width: 700px){
  .main-nav ul li {
    display: inline-block;
    padding: 0;
    list-style: none;
    clear: both;
  }
  header{
    text-align: center;
    padding: 5%;
  }
  #head-img{
    display: none;
  }
  h1{
    padding: 5%;
  }
  li{
    font-size: 12px;
  }
  img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .project-pics, .info, .projects, .skills{
    /*border: 2px solid black;*/
    padding: 1%;
    margin-left: 1%;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 75%;
    text-align: left;
  }

  *{
    background-color: gray;
    font-family: monospace;
  }
}
