@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?wfb79s');
  src:url('fonts/icomoon.eot?wfb79s#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?wfb79s') format('truetype'),
  url('fonts/icomoon.woff?wfb79s') format('woff'),
  url('fonts/icomoon.svg?wfb79s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 700px){
header{
  display: inline;
}
  .main-nav {
    padding: 0.1em;
  }
  .icon-menu:before {
	content: "\1f5c4";
}
  .main-nav ul {
    display: none;
    padding: 0;
    list-style: none;
    clear: both;
  }

  .main-nav:hover ul {
    display: inline-block;
  }
  .projects{
    border: 2px solid black;
  }
  *{
    background-color: beige;
  }
}

/* browser view */
@media screen and (min-width: 700px){
  .main-nav ul li {
    display: inline-block;
    padding: 0;
    list-style: none;
    clear: both;
  }
}
