
@media screen and (max-width: 700px){
header{
  display: inline;
}
  .main-nav {
    padding: 0.1em;
  }

  .main-nav ul {
    display: none;
    padding: 0;
    list-style: none;
    clear: both;
  }

  .main-nav:hover ul {
    display: inline-block;

}

/* browser view */
@media screen and (min-width: 700px){
  .main-nav ul li {
    display: inline-block;
    padding: 0;
    list-style: none;
    clear: both;
  }
}
